* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Top Bar */
.top-bar {
    background: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px 40px;
    font-size: 14px;
}

.top-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 26px;
    font-weight: bold;
}

.logo img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}


.logo {
    font-size: 26px;
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.signin {
    background: #2d7df6;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
    background: #cfefff;
}

.hero-text {
    max-width: 50%;
}

.discount {
    color: #112d57;
    font-weight: bold;
}

.hero-text h1 {
    font-size: 48px;
    margin: 15px 0;
}

.hero-text p {
    margin-bottom: 20px;
}

.shop-btn {
    background: #112d57;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
}

.hero-img img {
    width: 400px;
}

/* Category Section */
.category {
    padding: 60px 40px;
    text-align: center;
}

.category h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.category-cards {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}


.card {
    min-width: 280px;
    background: #f7f7f7;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}


.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h3 {
    padding: 15px;
}

.footer {
    background: #111;
    color: #fff;
    margin-top: 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 40px;
    flex-wrap: wrap;
}

.footer-column {
    width: 22%;
    min-width: 200px;
}

.footer-column h3,
.footer-column h4 {
    margin-bottom: 15px;
}

.footer-column p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}

.footer-column a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-column a:hover {
    color: #2d7df6;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    padding: 15px;
    font-size: 14px;
    color: #aaa;
}
